$cor-fundo: #001f3a;
$cor-card: #ffb92f;
$cor-botao: #00396b;
$cor-texto1: black;
$cor-texto2: #001f3a;
$cor-texto3: #005c91;
$cor-textoM: #fff;

body{
    background: $cor-fundo;
}

.menu-link{
    color: $cor-textoM;
}

.card{
    background: $cor-card;
    h1{
        color: $cor-texto2;
    }
    h2{
    color: $cor-texto2;
    }
    h3 {
        color: $cor-texto3;
    }
}

.detalhes-item{
    p{
    color: $cor-texto3;
    }
}

.botao{
    background: $cor-botao;
    color: $cor-textoM;
}