// Colors
$cor-fundo: #001f3a;
$cor-card: #ffb92f;
$cor-botao: #00396b;
$cor-texto1: black;
$cor-texto2: #001f3a;
$cor-texto3: #005c91;
$cor-textoM: #fff;

// Fonts
$fonte-primaria: 'Montserrat';
$sizeh1: 36px;
$sizeh2: 38px;
$sizeh3: 16px;
$size-span: 20px;
$font-weight-basic: 600;
$line-height-high: 44px;
$line-height-normal: 26px;